hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;

}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        padding: 3em 0;
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 24px;
        
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
        margin-bottom: 1.5em;
        text-transform: uppercase;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
        font-size: 14px;
        text-decoration: none;
        
    }


    .lista-rodape__link{
        color: var(--cinza-escuro);
        text-decoration: none;
        margin-left: 0.6em;
    }
}

@media screen and (min-width:1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}